/* Responsive */

* {
    box-sizing: border-box;
    margin: 0 auto;
    transition: .3s;
}

/* Calculator heading text */
#heading {
    text-align: center;
    color: blueviolet;

    padding-top: 19vh;
    /* letter-spacing: .2vh; */
    font-weight: 800;
    font-size: 2rem;
    font-family: sans-serif;
    /* text-shadow: 1.4px 1.3px 0px rgb(43, 255, 0) ,0px 0px 20px rgb(0, 0, 0); */
}

/* Text Display */
#display{
    font-size: 3rem;
    color: rgb(0, 0, 0);
}

/* table layout */
#table {
    background-color: lightblue;
    box-shadow: inset 0px 0px 100px rgb(81, 0, 255), inset 0px 0px 100px rgb(153, 93, 93);
    /* border: 10px solid rgb(91, 91, 91); */
    border-radius: 5px;
}

/* Calculator button */
.button {
    height: 10vh;
    width: 13vh;
    background-color: rgb(219, 163, 163);
    cursor: pointer;
    border: 2px solid rgb(255, 255, 0);
    border-radius: 2px;
}

.button:hover {
    height: 9.7vh;
    width: 12.7vh;
    background-color: rgb(255, 180, 173);
    box-shadow: inset 100px 0px 0px rgb(168, 197, 240), inset 0px 0px 200px whitesmoke;
    border-radius: 10px;
    border: 3px solid rgb(76, 0, 255);
    
}

/* 0 button */
/* #button-last {
    height: 10vh;
    width: 26.7vh;
    background-color: rgb(219, 163, 163);


} */

/* 0 button  hover */
/* #button-last:hover {
    height: 9.7vh;
    width: 26.5vh;
    background-color: rgb(255, 180, 173);
    box-shadow: inset 300px 0px 0px whitesmoke;
    border-radius: 10px;
} */

/* responsive <=900px */
@media screen and (max-width:600px) {
    * {
        box-sizing: border-box;
        margin: 0 auto;
        transition: .3s;
    }

    #heading {
        text-align: center;
        color: rgb(0, 0, 0);

        /* padding-top: 5vh; */
        /* letter-spacing: .2vh; */
        font-weight: 600;
        font-size: 2rem;
        font-family: sans-serif;
        /* text-shadow: 1.4px 1.3px 0px rgb(0, 0, 0) ,0px 0px 20px rgb(0, 0, 0); */
    }

    /* table layout */
    #table {
        background-color: lightblue;
        /* box-shadow: inset 0px 0px 100px rgb(0, 0, 0); */
        /* border: 10px solid rgb(91, 91, 91); */
        border-radius: 5px;
        display: flexbox;
        flex-wrap: wrap;
    }

    /* Calculator button */
    .button {
        height: 6vh;
        width: 9vh;
        background-color: rgb(219, 163, 163);
    }

    .button:hover {
        height: 5.9vh;
        width: 8.9vh;
        background-color: rgb(255, 180, 173);
        box-shadow: inset 0px 0px 0px rgb(255, 255, 255);
        border-radius: 4px;
    }

    /* 0 button */
    /* #button-last {
        height: 6vh;
        width: 19vh;
        background-color: rgb(219, 163, 163);


    }

    /* 0 button  hover 
    #button-last:hover {
        height: 5.9vh;
        width: 18.9vh;
        background-color: rgb(255, 180, 173);
        box-shadow: inset 0px 0px 0px whitesmoke;
        border-radius: 10px;
    } */
}